.home {
    flex: 4;
}

.homeWidgets {
    display: flex;
    margin: 20px;
}

.signOut {
    padding: 10px;
    color: white;
    background-color: red;
    float: right;
    margin: 20px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

.signOut:hover {
    scale: 1.1;
}