#products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
}

.product {
    cursor: pointer;
    position: relative;
    min-width: 280px;
    height: 380px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    background-color: #F8F8F8;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.product img {
    height: 75%;
    object-fit: contain;
}

.product:hover .product-img {
    filter: brightness(0.7);
}

.product-actions {
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.circle {
    cursor: pointer;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: all 0.3s;
}

.product:hover .circle {
    opacity: 1;
}

.product .circle:hover {
    background-color: #222222;
    color: white;
}


/********************************* Media Queries ************************************************/

@media (max-width:1201px) {
    #slider-container .slider .slider-img img {
        height: 100%;
    }
    #slider-container .slider .slider-desc {
        flex: 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #slider-container .slider .slider-desc p {
        text-align: center;
        margin-top: 20px;
    }
    .slider {
        flex-direction: column;
    }
    #slider-container .slider .slider-img {
        flex: 0 0;
        height: 80%;
    }
    .category {
        height: 37vh;
    }
    .category-info h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .product {
        min-width: 150px;
    }
    .product img {
        height: 40%;
    }
    .footer-col {
        padding: 10px 10px !important;
    }
    .footer-col>* {
        margin-bottom: 5px;
    }
    .footer-circle {
        margin-right: 20px;
        width: 35px !important;
        height: 35px !important;
    }
}

@media (max-width:768px) {
    #nav .pages {
        font-size: 14px;
        white-space: nowrap;
    }
    #slider-container {
        display: none;
    }
    #categories-container {
        flex-direction: column;
    }
    #products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 20px;
    }
    .product {
        min-width: 0px;
    }
    .product img {
        height: 60%;
    }
    .newsletter-input {
        width: 80% !important;
    }
    #newsletter-container p {
        text-align: center;
    }
    #footer-container {
        flex-direction: column;
    }
    .footer-col>* {
        margin: 5px;
    }
    .footer-circle {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (max-width:480px) {
    #home .deals h1 {
        font-size: 16px;
        padding: 10px;
    }
    #nav .center h1 {
        font-size: 24px;
    }
    #nav .pages {
        font-size: 14px;
        white-space: nowrap;
    }
    #nav .website.language {
        display: none;
    }
    #nav .search {
        background-color: white;
        display: flex;
        align-items: center;
        width: 70px;
    }
    #nav li {
        padding: 0px 0px;
        cursor: pointer;
        margin-right: 10px;
    }
    #nav .left {
        flex: 0;
    }
    .category-info h1 {
        font-size: 32px;
    }
    #products-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .product {
        min-width: 0;
    }
}